.loomradio {
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.player-wrapper {
  width: 480px;
  height: 270px;
}

.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.faded {
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  padding: 0px;
  margin: 0px;
  color: #fb0098;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  padding: 0px;
  margin: 0px;
  color: #000;
  font-size: 18px;
}

.meta {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.animate-in {
  animation: animate-play-in 0.5s;
  animation-timing-function: ease-out;
}

.animate-out {
  animation: animate-play-out 0.5s;
  animation-timing-function: ease-out;
}

@keyframes animate-play-in {
  from {
    max-height: 0px;
    opacity: 0;
  }
  to {
    max-height: 40px;
    opacity: 1;
  }
}

@keyframes animate-play-out {
  from {
    max-height: 40px;
    opacity: 1;
  }
  to {
    max-height: 0px;
    opacity: 0;
  }
}

.playBtn {
  padding: 5px 10px;
  margin: 0px;
}

button {
  border: none;
  padding: 5px 10px;
  background: #c4f3eb;
  border-radius: 5px;
  font-size: 16px;
  color: teal;
}

button.meta-show {
  background: #c4f3eb;
  border-radius: 0px;
  background-color: whitesmoke;
  border-bottom: 2px solid #f92aa7;
  cursor: "pointer";
}

button.select-show {
  border: 1px solid #c4f3eb;
  padding: 25px 10px;
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
  color: teal;
}

input {
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.InputRange {
  margin-left: 20px !important;
  -webkit-appearance: none;
  margin: 10px 0;
  outline: none;
  padding: 0;
  height: 5px;
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, gold),
    color-stop(100%, gold)
  );
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
}

.InputRange::-webkit-slider-runnable-track {
  height: 5px;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  background: transparent;
  -webkit-appearance: none;
}

.InputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid gold;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-top: -9.5px;
  background: white;
  cursor: pointer;
}
